<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/bbe06e3f12.js" crossorigin="anonymous"></script>
    <script src="../App.js" defer></script>
</head>

<body id="app">
    <header class="top-pane">
        <nav>
            <a class=nav-link v-for="item in navitems" :key="item.title" :href="item.url">{{ item.title }}</a>
        </nav>
    </header>

    <div class="page-content content" v-if="branches_summary.length > 0">
        <div class="branch-header">
            <h1>Adelaide Branch</h1>
            <a href="index.html" class="button primary-button">Back</a>
        </div>
        <hr>
        <div class="branch-content">
            <div class="branch-details-container" style="flex: 2;">

                <div class="branch-details">
                    <p class="branch-hours"><i class="fa fa-clock-o"></i> {{branches_summary[0].openingHours}}</p>
                    <p class="branch-location"><i class="fa fa-map-marker"></i> {{branches_summary[0].location}} </p>
                </div>
                <div>
                    <p class="branch-description">{{branches_summary[0].description}}</p>
                </div>
                <div class="branch-buttons">
                    <a v-bind:href="'tel:' + branches_summary[0].phone" class="button primary-button">Phone</a>
                    <a v-bind:href="'mailto:' + branches_summary[0].email" class="button secondary-button">Email</a>
                </div>
            </div>
            <div class="branch-image-container" style="flex: 1;">
                <img class="branch-image" v-bind:src="branches_summary[0].image_url" alt="Branch Image">
            </div>
        </div>
        <hr>
        <div>
            <h2>Upcoming events:</h2>
            <p> Event card links here</p>
        </div>
    </div>




    <footer>
        &copy; 2024 Your Website. All rights reserved.
    </footer>
</body>

</html>