/* --- Branch --- */
.branch-container {
    width: 90%;
    border-radius: 1em;
    padding: 1em 2em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: lightgray;
    position: relative;
}

.branch-container:hover {
    background-color: rgb(198, 198, 198);
}

.branch-container:active {
    background-color: darkgray;
}

.branch-name {
    margin-bottom: 0.2em;
}

.branch-details {
    justify-content: space-between;
}

.branch-hours,
.branch-location {
    margin: 0.5em;
}

.branch-image {
    width: 20em;
}

.branch-buttons {
    padding-top: 1em;
    margin: 1em;
}

.branch-description {
    text-align: left;
    padding: 0.2em 0.2em;
    margin: 0.5em;
    font-size: 1em;
}

.branch-content {
    display: flex;
}

.branch-image-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.branch-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.branch-header h1 {
    margin: 0;
}

.join-branch-button {
    margin-top: 10px;
    background-color: #6c757d;
    color: #fff;
    margin-left: 10px;
}

.join-branch-button :hover {
    background-color: #5a6268;
}

.create-branch-title {
    font-size: 1.2em;
    width: 60%;
}