<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/branches.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/bbe06e3f12.js" crossorigin="anonymous"></script>
    <script src="/App.js" defer></script>
</head>

<body id="app">
    <header class="top-pane">
        <nav>
            <a class=nav-link v-for="item in navitems" :key="item.title" :href="item.url">{{ item.title }}</a>
        </nav>
    </header>

    <div class="page-content content" v-if="branch_selected !== null">
        <div class="branch-header">
            <h1>{{branch_selected.name}} Branch</h1>
            <a href="/branches" class="button primary-button">Back</a>
        </div>
        <hr>
        <div class="branch-content">
            <div class="branch-details-container" style="flex: 2;">

                <div class="branch-details">
                    <p class="branch-hours"><i class="fa fa-clock-o"></i> {{branch_selected.openingHours}}</p>
                    <p class="branch-location"><i class="fa fa-map-marker"></i> {{branch_selected.location}} </p>
                  </div>
                  <div>
                    <p class="branch-description">{{branch_selected.description}}</p>
                  </div>
                  <div class="branch-buttons">
                    <a v-bind:href="'tel:' + branch_selected.phone" class="button primary-button">Phone</a>
                    <a v-bind:href="'mailto:' + branch_selected.email" class="button secondary-button">Email</a>
                  </div>
            </div>
            <div class="branch-image-container" style="flex: 1; display: flex; flex-direction: column; align-items: center;">
                <img class="branch-image" v-bind:src="branch_selected.image_url" alt="Branch Image">
                <a href="/register" class="button join-branch-button">Join Branch</a>
            </div>
        </div>
        <hr>
        <div>
            <h2>Upcoming events:</h2>
            <div class="scrolling-wrapper-branch">
                <div class="inner-scroll-branch-events">
                  <template v-for="event in events_results" :key="event.id">
                    <div class="branch-pane">
                      <div>
                        <img v-bind:src="event.image_url" class="event-card-image" alt="Event image">
                      </div>
                      <a v-bind:href="'/events/id/' + event.id" class="title-link"> <h3 class="event-card-title"> {{event.title}} </h3> </a>
                      <p class="event-card-header"> {{event.date}}&emsp;{{event.startTime}}-{{event.endTime}} </p>
                    </div>
                  </template>
                </div>
              </div>
        </div>
    </div>




    <footer>
        &copy; 2024 Your Website. All rights reserved.
    </footer>
</body>

</html>