<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/branches.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://kit.fontawesome.com/bbe06e3f12.js" crossorigin="anonymous"></script>
  <script src="/branches.js" defer></script>
  <script src="/App.js" defer></script>
</head>

<body id="app">
  <header class="top-pane">
    <nav>
      <ul class="nav-horizontal">
        <li v-for="item in navitems"> <a :key="item.title" :href="item.url" :class="['nav-link', item.alignClass]"> {{ item.title }} </a> </li>
      </ul>
    </nav>
  </header>

  <div class="page-content content">
    <button class="button primary-button right new-button" type="button" v-if="access_level >= 3"
      onclick="window.location.href='/admin/branches/create'"> New Branch </button>
    <h1>Our Branches!</h1>
    <div class="branch-container" v-for="branch in branches_results">
      <div class="branch-image-container"
      style="flex: 1; display: flex; flex-direction: column; align-items: center;">
      <img class="branch-image" v-bind:src="branch.image_url" alt="Branch Image">
      <button @click="joinBranch(branch.id)" class="button join-branch-button" type="button">Join Branch</button>
    </div>
      <div class="branch-content">
        <a :href="'/branches/id/' + branch.id" @click="selectBranch(branch.id)"
          style="text-decoration: none; color: inherit;">
          <div class="branch-details-container" style="flex: 2;">
            <h2 class="branch-name"> {{branch.name}} </h2>
            <div class="branch-details">
              <p class="branch-hours"><i class="fa fa-clock-o"></i> {{branch.openingHours}}</p>
              <p class="branch-location"><i class="fa fa-map-marker"></i> {{branch.street_number}}
                {{branch.street_name}}, {{branch.city}}, {{branch.branch_state}} {{branch.postcode}}</p>
            </div>
            <div>
              <p class="branch-description">{{branch.description}}</p>
            </div>
          </div>
        </a>
      </div>

      <div class="branch-buttons">
        <a v-bind:href="'tel:' + branch.phone" class="button primary-button">Phone</a>
        <a v-bind:href="'mailto:' + branch.email" class="button secondary-button">Email</a>
        <button v-if="access_level >= 2 && manages === branch.id" class="button secondary-button event-rsvp-button" type="button"
          @click="editBranch(branch.id)"> Edit Branch
        </button>
      </div>
    </div>
  </div>

  <footer>
    &copy; 2024 Meal Mates. All rights reserved.
    <a class="private_policy" href="/private_policy"> Private Policy</a>
  </footer>
</body>

</html>