<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="App.js" defer></script>
</head>

<body id="app">
  <header class="top-pane">
    <nav>
      <a class=nav-link v-for="item in navitems" :key="item.title" :href="item.url">{{ item.title }}</a>
    </nav>
  </header>

  <div class="page-content content">
    <h1>Our Branches!</h1>
    <div class="branch-container" v-for="branch in branches_summary">
      <img class="branch-image" v-bind:src="branch.image_url" alt="Branch Image">
      <h2 class="branch-name"> {{branch.name}} </h2>
      <p class="branch-location"> {{branch.location}} </p>
      <button class="button primary-button">Phone</button>
      <button class="button secondary-button">Email</button>
    </div>
  </div>

  <footer>
    &copy; 2024 Your Website. All rights reserved.
  </footer>
</body>

</html>

