<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/events.css">
  <link rel="stylesheet" href="/stylesheets/branches.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/App.js" defer></script>
  <script src="/branches.js" defer></script>
  <script src="/admin.js" defer></script>
</head>
<body id="app">
  <header class="top-pane">
    <nav>
      <ul class="nav-horizontal">
        <li v-for="item in navitems"> <a :key="item.title" :href="item.url" :class="['nav-link', item.alignClass]"> {{ item.title }} </a> </li>
      </ul>
    </nav>
  </header>

    <div class="page-content content">
        <h1>Create New Branch</h1>
        <h3> <u> Branch Contact Details </u> </h3>
        <h4> Branch Name (Set to branch city): <input class="create-branch-title" type="text" name="title"></h4>
        <h4> Branch Email: <input class="" type="text" name="branch-email"></h4>
        <h4> Branch Phone: <input class="" type="text" name="branch-phone"></h4>
        <br>

        <!-- Can make these to block-inline to save space later -->
        <h3> <u> Branch Address </u> </h3>
        <h4> Street Number: <input id="street-number" type="text" name="street-number"></h4>
        <h4> Street Name: <input id="street-name" type="text" name="street-name"></h4>
        <h4> City: <input id="city" type="text" name="city"></h4>
        <h4> State: <input id="state" type="text" name="state"></h4>
        <h4> Postcode: <input id="postcode" type="text" name="postcode"></h4>
        <br>

        <h3> <u> Branch Details </u> </h3>
        <h4> Set Trading Hours </h4>
        <p> Opening time: <input type="time" id="openingHours" class="create-event-time-inputs"></p>
        <p> Closing time: <input type="time" id="closingHours" class="create-event-time-inputs"></p>

        <h4> Enter Branch Description Below  </h4>
        <textarea class="create-branch-description"> Enter branch description here </textarea>
        <br>

        <h4> Choose an Image </h4>
        <select v-model="image_path">
          <option v-for="image in images" v-bind:value="image.path"> {{image.description}}</option>
        </select>
        <p id="image_path" class="hidden"> {{image_path}} </p>
        <div class="image-container">
          <img id="branch_image" class="select-image" v-bind:src="image_path" alt="news image">
        </div>
        <button class="center button primary-button create-branch-button" type="button" onclick="createBranch()"> Create Branch </button>
        <br>
    </div>
    <br>
    <br>

    <footer>
      &copy; 2024 Meal Mates. All rights reserved.
      <a class="private_policy" href="/private_policy"> Private Policy</a>
    </footer>
  </body>
  </html>