<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/news.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/news.js" defer></script>
  <script src="/App.js" defer></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const createNewsButton = document.getElementById('createNewsButton');
      if (createNewsButton) {
        createNewsButton.addEventListener('click', function () {
          createNews();
        });
      }
    });
  </script>
</head>

<body id="app">
  <header class="top-pane">
    <nav>
      <ul class="nav-horizontal">
        <li v-for="item in navitems"> <a :key="item.title" :href="item.url" :class="['nav-link', item.alignClass]"> {{
            item.title }} </a> </li>
      </ul>
    </nav>
  </header>

  <div class="page-content content">
    <h1>Create News Update</h1>
    <h4> Title: <input id="news-title" class="create-news-title" type="text"></h4>

    <h4> Set Update to Public or Private </h4>
    <input id="public" type="radio" name="news_privacy" value="Public">
    <label for="public"> Public </label>
    <input id="private" type="radio" name="news_privacy" value="Private" checked="checked">
    <label for="private"> Private </label>
    <h4> Enter News Description Below </h4>
    <textarea id="news-description" class="create-news-description news-textarea">Enter news description here</textarea>

    <!-- Note there should be some validation of data before it is sent to server, i.e. dates are in future -->

    <h4> Choose an Image </h4>
    <select v-model="image_path">
      <option v-for="image in images" v-bind:value="image.path"> {{image.description}}</option>
    </select>
    <p id="image_path" class="hidden"> {{image_path}} </p>
    <div class="image-container">
      <img id="news_image" class="select-image" v-bind:src="image_path" alt="news image">
    </div>

    <div class="other-options">
      <h4> Other Options </h4>
      <input type="checkbox" id="news-email-notify" name="news-email-notify" value="news-email-notify">
      <label for="news-email-notify"> Send email notification to relevant members? </label><br>
      <br>

      <button id="createNewsButton" class="button primary-button create-news-button center" type="button"> Create News
      </button>
      <br>
    </div>
  </div>
  <br>
  <br>

  <footer>
    &copy; 2024 Your Website. All rights reserved.
    These buttons will be removed, for testing purposes only
    <button type="button" v-on:click="access_level=0"> Visitor </button>
    <button type="button" v-on:click="access_level=1"> User </button>
    <button type="button" v-on:click="access_level=2"> Manager </button>
  </footer>
</body>

</html>