<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/news.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/news.js" defer></script>
  <script src="/App.js" defer></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const createNewsButton = document.getElementById('createNewsButton');
      if (createNewsButton) {
        createNewsButton.addEventListener('click', function () {
          createNews();
        });
      }
    });
  </script>
</head>

<body id="app">
  <header class="top-pane">
    <nav>
      <a class=nav-link v-for="item in navitems" :key="item.title" :href="item.url">{{ item.title }}</a>
    </nav>
  </header>

  <div class="page-content content">
    <h1>Create News Update</h1>
    <p> <b> Branch: </b> {Branch name} </p>
    <h4> Title: <input id="news-title" class="create-news-title" type="text"></h4>

    <h4> Set Update to Public or Private </h4>
    <input id="public" type="radio" name="news_privacy" value="Public">
    <label for="public"> Public </label>
    <input id="private" type="radio" name="news_privacy" value="Private" checked="checked">
    <label for="private"> Private </label>
    <h4> Enter News Description Below </h4>
    <textarea id="news-description" class="create-news-description news-textarea">Enter news description here</textarea>
    <button v-if="show_preview" v-on:click="show_preview=false" class="button secondary-button" type="button"> Hide
      Preview </button>
    <button v-else="show_preview" v-on:click="show_preview=true" class="button primary-button" type="button"> Show
      Preview </button>
    <h4 v-if="show_preview"> Preview Below: </h4>
    <div v-if="show_preview" class="preview">
      <pre>{{ create_news_preview }}</pre>
    </div>
    <!-- Note there should be some validation of data before it is sent to server, i.e. dates are in future -->

    <h4> Add an Image </h4>
    <input id="image_url" class="create-news-image-upload" type="file" name="news-image" accept="image/*">
    <br>

    <h4> Other Options </h4>
    <input type="checkbox" id="news-email-notify" name="news-email-notify" value="news-email-notify">
    <label for="news-email-notify"> Send email notification to relevant members? </label><br>
    <br>

    <button id="createNewsButton" class="button primary-button create-news-button center" type="button"> Create News
    </button>
    <br>
  </div>
  <br>
  <br>

  <footer>
    &copy; 2024 Your Website. All rights reserved.
    These buttons will be removed, for testing purposes only
    <button type="button" v-on:click="access_level=0"> Visitor </button>
    <button type="button" v-on:click="access_level=1"> User </button>
    <button type="button" v-on:click="access_level=2"> Manager </button>
  </footer>
</body>

</html>