<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/events.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/App.js" defer></script>
</head>
<body id="app">
    <header class="top-pane">
      <nav>
        <a class=nav-link v-for="item in navitems" :key="item.title" :href="item.url">{{ item.title }}</a>
      </nav>
    </header>

    <div class="page-content content">
        <h1>Create New Event</h1>
        <p> Branch: {Branch name} </p>
        <h4> Title: <input class="create-event-title" type="text" name="title"></h4>
        <h4> Set Event Time </h4>
        <p> Date: <input type="date" class="create-event-time-inputs"></p>

        <p> Start time: <input type="time" class="create-event-time-inputs"></p>

        <p> End time: <input type="time" class="create-event-time-inputs"></p>

        <h4> Set Event to Public or Private </h4>
        <input id="public" type="radio" name="event_privacy" value="Public">
        <label for="public"> Public </label>
        <input id="private" type="radio" name="event_privacy" value="Private">
        <label for="private"> Private </label>
        <h4> Enter Event Description Below  </h4>
        <textarea class="create-event-description"> Enter event description here </textarea>
        <p> Note: Event description should be brief, further details can go in the details section below </p>
        <h4> Enter Event Details Below </h4>
        <p> Event details are listed as dot points, with up to 2 levels of dot points able to be used. Use the button on the right to toggle between the two list levels </p>
        <!-- Note there should be some validation of data before it is sent to server, i.e. dates are in future -->
        <template v-for="point in num_points">
            <div>
                <button v-if="point != 1" class="secondary-button button create-event-point-level" type="button" v-on:click="point_level[point-1] = (point_level[point - 1] + 1)%2"> Change level </button>
                <p v-if="point_level[point-1] == 0" style="display: inline-block"> - </p>
                <p v-else style="display: inline-block"> &emsp;- </p>
                <input type="text" class="create-event-details">
            </div>
        </template>
        <button class="secondary-button button" type="button" v-on:click="num_points++; point_level.push(0)"> Add another point </button>


        <h4> Add an Image </h4>
        <input class="create-event-image-upload" type="file" name="event-image" accept="image/*">
        <button class="button primary-button create-event-button" type="button"> Create Event </button>
    </div>

    <footer>
      &copy; 2024 Your Website. All rights reserved.
    </footer>
  </body>
  </html>