<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/events.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/events.js" defer></script>
    <script src="/App.js" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // delete event
            const deleteEventButton = document.getElementById('deleteEventButton');
            if (deleteEventButton) {
                deleteEventButton.addEventListener('click', function () {
                    const eventID = window.location.pathname.split('/')[4];
                    deleteEvent(eventID);
                });
            }
            // update event
            const updateEventButton = document.getElementById('updateEventButton');
            if (updateEventButton) {
                updateEventButton.addEventListener('click', function () {
                    const eventID = window.location.pathname.split('/')[4];
                    const eventData = {
                        title: document.getElementById('title').value,
                        description: document.getElementById('description').value,
                        date: document.getElementById('date').value,
                        startTime: document.getElementById('startTime').value,
                        endTime: document.getElementById('endTime').value,
                        isPublic: document.getElementById('public').checked,
                        details: Array.from(document.getElementsByClassName('create-event-details')).map(input => input.value),
                        image_url: document.getElementById('image_path').value
                    };
                    updateEvent(eventID, eventData);
                });
            }
        });

    </script>
</head>

<body id="app">
    <header class="top-pane">
        <nav>
            <ul class="nav-horizontal">
                <li v-for="item in navitems"> <a :key="item.title" :href="item.url"
                        :class="['nav-link', item.alignClass]"> {{ item.title }} </a> </li>
            </ul>
        </nav>
    </header>

    <div class="page-content content">
        <h1>Edit Event</h1>
        <h4>Branch: {{ eventInfo.branch }}</h4>
        <h4>Title: <input id="title" class="create-event-title" type="text" v-model="eventInfo.event_name"></h4>
        <h4>Set Event Time</h4>
        <p>Date: <input id="date" type="date" class="create-event-time-inputs" v-model="eventInfo.start_date"></p>
        <p>Start time: <input id="startTime" type="time" class="create-event-time-inputs"
                v-model="eventInfo.start_time"></p>
        <p>End time: <input id="endTime" type="time" class="create-event-time-inputs" v-model="eventInfo.end_time">
        </p>
        <h4>Set Event to Public or Private</h4>
        <input id="public" type="radio" name="event_privacy" value="1" v-model="eventInfo.is_public">
        <label for="public"> Public </label>
        <input id="private" type="radio" name="event_privacy" value="0" v-model="eventInfo.is_public">
        <label for="private"> Private </label>
        <h4> Enter event location </h4>
        <textarea id="location" type="text" class="create-event-title" v-model="eventInfo.location"></textarea>
        <h4>Enter Event Description Below</h4>
        <textarea id="description" class="create-event-description" v-model="eventInfo.event_description"></textarea>
        <h4>Choose an Image</h4>
        <select v-model="image_path">
            <option v-for="image in images" :key="image.path" :value="image.path"> {{image.description}}</option>
        </select>
        <p id="image_path" class="hidden"> {{image_path}} </p>
        <div class="image-container">
            <img id="news_image" class="select-image" v-bind:src="image_path" alt="news image">
        </div>

        <div class="other-options">
            <h4> Other Options </h4>
            <input type="checkbox" id="event-email-notify" name="event-email-notify" value="event-email-notify">
            <label for="event-email-notify"> Send email notification to relevant members? </label>
            <br><br>
            <button id="updateEventButton" class="button primary-button create-event-button" type="button">
                Update Event
            </button>
            <button class="button secondary-button create-event-button" type="button" id="deleteEventButton">Delete
                event</button>
        </div>
    </div>

    <footer>
        &copy; 2024 Meal Mates. All rights reserved.
        <a class="private_policy" href="/private_policy"> Private Policy</a>
    </footer>
</body>

</html>