<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/news.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/news.js" defer></script>
    <script src="/App.js" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Delete news
            const deleteNewsButton = document.getElementById('deleteNewsButton');
            if (deleteNewsButton) {
                deleteNewsButton.addEventListener('click', function () {
                    const articleID = window.location.pathname.split('/')[4];
                    deleteNews(articleID);
                });
            }
            // Update news
            const updateNewsButton = document.getElementById('updateNewsButton');
            if (updateNewsButton) {
                updateNewsButton.addEventListener('click', function () {
                    const articleID = window.location.pathname.split('/')[4];
                    const newsData = {
                        title: document.getElementById('title').value,
                        content: document.getElementById('content').value,
                        datePublished: document.getElementById('datePublished').value,
                        isPublic: document.getElementById('public').checked,
                        image_url: document.getElementById('image_url').value
                    };
                    updateNews(articleID, newsData);
                });
            }
        });
    </script>
</head>

<body id="app">
    <header class="top-pane">
        <nav>
          <ul class="nav-horizontal">
            <li v-for="item in navitems"> <a :key="item.title" :href="item.url" :class="['nav-link', item.alignClass]"> {{ item.title }} </a> </li>
          </ul>
        </nav>
    </header>

    <div class="page-content content">
        <h1>Edit News Article</h1>
        <p> Branch: {{ newsInfo.branch_name }} </p>
        <h4> Title: <input id="title" class="create-news-title" type="text" v-model="newsInfo.title"></h4>
        <h4> Publish Date: </h4>
        <p> Date: <input id="datePublished" type="date" class="create-news-date-input" v-model="newsInfo.date_published"></p>

        <h4> Set News Article to Public or Private </h4>
        <input id="public" type="radio" name="news_privacy" value="1" v-model="newsInfo.is_public">
        <label for="public"> Public </label>
        <input id="private" type="radio" name="news_privacy" value="0" v-model="newsInfo.is_public">
        <label for="private"> Private </label>

        <h4> Enter News Content Below </h4>
        <textarea id="content" class="create-news-content" v-model="newsInfo.content"></textarea>

        <h4> Add an Image </h4>
        <input id="image_url" class="create-news-image-upload" type="file" name="news-image" accept="image/*">
        <div v-if="newsInfo.image_url">
            <img :src="newsInfo.image_url" alt="News Image">
        </div>
        <div>
            <button id="updateNewsButton" class="button primary-button create-news-button" type="button">
                Update News
            </button>
            <button class="button secondary-button create-news-button" type="button" id="deleteNewsButton">Delete
                News</button>
        </div>

    </div>

    <footer>
        &copy; 2024 Meal Mates. All rights reserved.
        <a class="private_policy" href="/private_policy"> Private Policy</a>
    </footer>
</body>

</html>