<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/events.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/events.js"></script>
  <script src="App.js" defer></script>
</head>

<body id="app">
  <header class="top-pane">
    <nav>
      <a class=nav-link v-for="item in navitems" :key="item.title" :href="item.url">{{ item.title }}</a>
    </nav>
  </header>

  <div class="page-content content">
    <button class="button primary-button right new-event-button" type="button" v-if="access_level >= 2"
      onclick="window.location.href='/manage/events/create'"> New Event </button>
    <h1>Upcoming Events</h1>
    <p v-if="access_level == 0"> <a href="/login"> Log in </a> to view private events and to RSVP for events </p>
    <div class="search-div">
      <input id="events-search" class="search-bar" type="text" placeholder="Search...">
      <button class="button primary-button search-button" type="button" v-on:click="events_search()">Search</button>
      <button class="button secondary-button search-button" type="button"
        v-on:click="show_events_filters = !show_events_filters">Toggle Filters</button>
    </div>
    <div id="search-filters" v-show="show_events_filters">
      <p> Filter by Date of Event: </p>
      <label> From: </label><input id="from-date" type="date">
      <label> To: </label><input id="to-date" type="date">
      <p> Filter by Branch: </p>

      <!-- Note: need to add an AJAX request on initial page load to update the branches-->

      <template v-for="branch in branches_summary">
        <input type="checkbox" name="branch_filters" v-bind:value="branch.id"> <label> {{branch.name}}</label>
      </template>

      <br><br><label> Max number of Events Shown: </label> <input type="number" id="num-events" value=10>
    </div>

    <div id="events-results">
      <h3> Results: </h3>

      <!--
          ADD A v-if for if no results are found?
        -->

      <!--
          ADD some sort of indication when it is loading?
        -->

      <!--
          ADD day of the week as well as date?
        -->

      <!-- Render the event results -->
      <div class="event-container" v-for="event in events_results">
        <a class="event-title" v-bind:href="'/events/id/' + event.id">
          <div>
            <img class="event-image" v-bind:src="event.image_url" alt="Event Image">
            <h2 class="event-title"> {{event.title}} </h2>
            <!-- Link the location to the branch page? -->
            <span class="event-header">
              {{event.date}}&emsp;{{event.startTime}}-{{event.endTime}}&emsp;{{event.location}}</span>
            <p class="event-description"> {{event.description}} </p>
          </div>
        </a>
            <!-- RSVP buttons should be replaced by an edit RSVP if an RSVP has already been sent -->
            <button class="button primary-button event-rsvp-button" type="button" v-on:click="RSVP('yes', event.id)">RSVP
              Yes</button>
            <button class="button secondary-button event-rsvp-button" type="button" v-on:click="RSVP('no', event.id)">RSVP
              No</button>
            <button v-if="access_level >= 2" class="button secondary-button event-rsvp-button" type="button"> View
              Responses
            </button>
            <button v-if="access_level >= 2" class="button secondary-button event-rsvp-button" type="button"> Edit Event
            </button>

      </div>

      <!--
          SHOW MORE RESULTS BUTTON, add a V-if, so that if num displayed is less than max this isnt an option, so that if there are no more events
          to show this is not presented as an option
        -->
      <button class="button secondary-button center" type="button" v-on:click="events_show_more_results()">Show more
        results</button>
    </div>

  </div>

  <footer>
    &copy; 2024 Your Website. All rights reserved.
    These buttons will be removed, for testing purposes only
    <button type="button" v-on:click="access_level=0"> Visitor </button>
    <button type="button" v-on:click="access_level=1"> User </button>
    <button type="button" v-on:click="access_level=2"> Manager </button>
  </footer>

</body>

</html>