<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/events.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
    <script src="/events.js"></script>
    <script src="/App.js" defer></script>
</head>

<body id="app">
    <header class="top-pane">
        <nav>
          <ul class="nav-horizontal">
            <li v-for="item in navitems"> <a :key="item.title" :href="item.url" :class="['nav-link', item.alignClass]"> {{ item.title }} </a> </li>
          </ul>
        </nav>
      </header>

    <div class="page-content content">
        <a class="back-button" href="/events"> &lt; BACK</a>
        <br>
        <p v-if="access_level == 0"> <a href="/login"> Log in </a> to RSVP for this event </p>
        <template v-if="loading">
            <p> Loading Event Details...</p>
        </template>
        <template v-else-if="event_selected !== null">
            <div class="right event-side-pane">
                <p><b> Date: </b> {{event_selected.date}} </p>
                <p><b> Time: </b> {{event_selected.startTime}} - {{event_selected.endTime}} </p>
                <p><b> Location: </b> {{event_selected.location}} </p>
                <p v-if="event_attendance !== null"><b> {{event_attendance}} others are attending </b> </p>
                <button class="button primary-button event-details-rsvp-button" type="button"
                    v-on:click="RSVP('yes', getEventIDFromPath())">RSVP Yes</button>
                <button class="button secondary-button event-details-rsvp-button" type="button"
                    v-on:click="RSVP('no', getEventIDFromPath())">RSVP No</button>
                <button v-if="access_level >= 2" class="button secondary-button event-details-rsvp-button"
                    type="button" @click="eventRSVPresponse(getEventIDFromPath())"> View Responses </button>
                <button v-if="access_level >= 2" class="button secondary-button event-details-rsvp-button"
                    type="button" @click="editEvent(getEventIDFromPath())"> Edit Event </button>

            </div>

            <h1> {{event_selected.title}} </h1>
            <p> {{event_selected.description}} </p>
            <template v-if="event_selected.details !== null">
                <h3> More Information: </h3>
                <ul>
                    <template v-for="detail in event_selected.details">
                        <li v-if="typeof detail === 'string'"> {{detail}} </li>
                        <template v-else>
                            <li> {{detail[0]}}
                                <ul>
                                    <template v-for="(point, index) in detail">
                                        <li v-if="index">
                                            {{point}}
                                        </li>
                                    </template>

                                </ul>
                            </li>
                        </template>
                    </template>
                </ul>
                <img v-bind:src="event_selected.image_url" alt="Event Image">
            </template>
        </template>
    </div>
    <footer>
        &copy; 2024 Meal Mates. All rights reserved.
        <a class="private_policy" href="/private_policy"> Private Policy</a>
    </footer>
  </body>
  </html>